#portfolio-container {
  background: #536073;
  color: #f3efeb;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#portfolio-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 50px 0;
}

#portfolio-title {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #776D64;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.project-card h4 {
  border-bottom: 2px solid #776D64;
  font-size: 1.15em;
  padding-bottom: 10px;
  letter-spacing: 1px;
  color: #23273e;
}

.project-card p {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 22px;
  margin: 0;
}

.anchor-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-it-anchor {
  margin: 30px;
  background: #776d64;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  color: #f3efeb;
  font-size: 0.9em;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
}

.repository-anchor {
  margin:30px;
  background: #776d64;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  color: #f3efeb;
  font-size: 0.9em;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
}

.try-it-anchor:hover {
  color: #f7b731;
}

.repository-anchor:hover {
  color: #f7b731;
}

.try-it-anchor:active {
  color: #23273e;
}

.repository-anchor:active {
  color: #23273e;
}


#ufo-img p,
#movie-tracker-img p,
#star-wars-img p,
#cloud-kicker-img p,
#breakout-img p {
  font-size: 1.3em;
  font-weight: 400;
}

#ufo-img {
  background: url('../../images/ufo-sighting.png');
  background-size: cover;
  height:380px;
  width: 767px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
}

#ufo-img:hover {
  background: url('../../images/ufo-sighting.gif');
  background-size: cover;
  height:380px;
  width: 767px;
  color: transparent;
  border-radius: 2px;
}

#movie-tracker-img {
  background: url('../../images/movie-watcher.png');
  background-size: cover;
  height:309px;
  width: 619px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
}

#movie-tracker-img:hover {
  background: url('../../images/movie-watcher.gif');
  background-size: cover;
  height:309px;
  width: 619px;
  color: transparent;
  border-radius: 2px;
}

#star-wars-img {
  background: url('../../images/star-wars.png');
  background-size: cover;
  height:309px;
  width: 622px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
}

#star-wars-img:hover {
  background: url('../../images/star-wars.gif');
  background-size: cover;
  height:309px;
  width: 622px;
  color: transparent;
  border-radius: 2px;
}

#cloud-kicker-img {
  background: url('../../images/cloud-kicker.png');
  background-size: cover;
  height:309px;
  width: 625px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
}

#cloud-kicker-img:hover {
  background: url('../../images/cloud-kicker.gif');
  background-size: cover;
  height:309px;
  width: 625px;
  color: transparent;
  border-radius: 2px;
}

#breakout-img {
  background: url('../../images/breakout.png');
  background-size: cover;
  height:368px;
  width: 623px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
}

#breakout-img:hover {
  background: url('../../images/breakout.gif');
  background-size: cover;
  height:368px;
  width: 623px;
  color: transparent;
  border-radius: 2px;
}


@media screen and (max-width: 860px) {
  #ufo-img,
  #movie-tracker-img,
  #star-wars-img,
  #cloud-kicker-img,
  #breakout-img {
    display: none;
  }

}

@media screen and (max-width: 700px) {
  .anchor-holder{
    flex-direction: column;
    margin: 20px;
  }


#portfolio-card-container {
  width: 85%;
}


  .try-it-anchor,
  .repository-anchor {
    margin: 20px 0 0 0;
  }

}
