#header {
  background: url('../../images/grand-central.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(37, 28, 18, 0.75);
  height: 100vh;
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  /*align-items: center;*/
  flex-wrap: wrap;

}

#nav-bar {
  display: flex;
  justify-content: center;
  height:80px;
  width:100%;
  color: #f3efeb;
  padding-top: 20px;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}

#name-logo {
  /*height: 170px;
  width: 212px;
  background: url('../../images/dave-01.svg');
  background-size: cover;
  background-repeat: repeat;
  margin-bottom: 75px;*/

  display: flex;
  flex-wrap: wrap;
  height: 150px;
  width: 200px;
  background: #f3efeb;
  padding: 5px 2px;
  font-size: 2em;
  font-weight: 700;
  border-radius: 2px;
  margin-bottom: 100px;
}

.name-logo-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  height:50px;
  width:50px;
  margin: 0;
  background: transparent;
}

.bm-burger-button {
  display: none;
}

@media screen and (max-width: 700px) {
  /*NOTE: HAMBURGER CSS*/

  /* Position and sizing of burger button */
  .bm-burger-button {
    display: block;
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #f3efeb;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    /*height: 36px;
    width: 36px;*/
    background: #f3efeb;

  }

  /* General sidebar styles */
  .bm-menu {
    /*background: #536073;*/
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    background: url('../../images/bricks.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(27, 12, 12, 0.6);
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;

  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    /*background: #373a47;*/
    margin: 35px 0;
    color: #f3efeb;
  }

  .menu-item:hover {
    color: #f7b731;
  }

  .menu-item:active {
    color: #f7b731;
  }
}
