#about-container {
  height: auto;
  width: 100%;
  background: #536073;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 25px 0;
}

#headshot {
  background: url('../../images/dave-headshot-blur.jpg');
  background-size: cover;
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid #f3efeb;
  border-radius: 2px;
  margin: 40px 0;
}

/*#headshot:hover {
  background: url('../../images/headshot.jpg');
  background-size: cover;
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid #f3efeb;
  border-radius: 2px;
  margin: 40px 0;
}*/

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3efeb;
  width: 60%;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #776D64;
  padding-bottom: 10px;
}

.personal {
  display: flex;
  /*text-indent: 40px;*/
  color: #f3efeb;
  width: 60%;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .personal {
    width: 85%;
  }

  .about-header {
    width: 85%;
  }
}
