#contact-container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  padding: 30px 0;
}

#contact-container h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
}

#contact-method-container {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.contact-method {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height:100px;
  text-decoration: none;
  margin-left: 35%;
}

.phone {
  background: url('../../images/phone-icon.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#phone {
  color: #000;
  margin-left: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  align-self: center;
}

.email {
  background: url('../../images/gmail-logo.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

.email:hover {
  background: url('../../images/gmail-logo-yellow.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#email {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  color: #000;
  margin-left: 50px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
}

#email:hover {
  color: #f7b731;
}

.linkedin {
  background: url('../../images/linkedin-logo.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

.linkedin:hover {
  background: url('../../images/linkedin-logo-yellow.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#linkedin-url {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  color: #000;
  margin-left: 50px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
}

#linkedin-url:hover {
  color: #f7b731;
}

.github {
  background: url('../../images/github-logo.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

.github:hover {
  background: url('../../images/github-logo-yellow.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#github-url {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  margin-left: 50px;
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
}

#github-url:hover {
  color: #f7b731;
}

.resume {
  background: url('../../images/resume.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

.resume:hover {
  background: url('../../images/resume-hover.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#resume-modal {
  border: none;
  height: 50px;
  width: 200px;
  display: flex;
  letter-spacing: 1.0px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  padding: 5px;
  border-radius: 2px;
  background: transparent;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  margin-left: 20px;
}

#resume-modal:hover {
  color: #f7b731;
}



@media screen and (max-width: 736px) {

  #contact-container {
    height: 100vh;
    width: 100%;
    /* background: url('../../images/chambers-mobile.jpg'); */
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    /* background-blend-mode: overlay; */
    background-color: #fff;
    padding: 30px 0;
  }
}

@media screen and (max-width: 700px) {
  #github-url,
  #linkedin-url,
  #email {
    display: none;
  }

  .phone {
    display: none;
    margin: 0;
  }

  #phone {
    margin: 0;
    justify-content: center;
  }

  .contact-method {
    margin: 0;
    justify-content: center;
  }

  #resume-modal,
  .resume {
    display: none;
  }
}
