#contact-container {
  height: 100vh;
  width: 100%;
  background: url('../../images/chambers.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-blend-mode: overlay;
  background-color: rgba(39, 29, 9, 0.75);
  padding: 30px 0;
}

#contact-container h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #f7b731;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
}

#contact-method-container {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.contact-method {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height:125px;
  text-decoration: none;
  margin-left: 35%;
}

.phone {
  background: url('../../images/phone-icon.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#phone {
  color: white;
  margin-left: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  align-self: center;
}

.email {
  background: url('../../images/gmail-logo.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

.email:hover {
  background: url('../../images/gmail-logo-yellow.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#email {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  color: white;
  margin-left: 50px;
  text-decoration: none;
}

#email:hover {
  color: #f7b731;
}

.linkedin {
  background: url('../../images/linkedin-logo.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

.linkedin:hover {
  background: url('../../images/linkedin-logo-yellow.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#linkedin-url {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  color: white;
  margin-left: 50px;
  text-decoration: none;
}

#linkedin-url:hover {
  color: #f7b731;
}

.github {
  background: url('../../images/github-logo.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

.github:hover {
  background: url('../../images/github-logo-yellow.svg');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#github-url {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  margin-left: 50px;
  color: white;
  text-decoration: none;
}

#github-url:hover {
  color: #f7b731;
}

@media screen and (max-width: 736px) {

  #contact-container {
    height: 100vh;
    width: 100%;
    background: url('../../images/chambers-mobile.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-blend-mode: overlay;
    background-color: rgba(39, 29, 9, 0.75);
    padding: 30px 0;
  }
}

@media screen and (max-width: 700px) {
  #github-url,
  #linkedin-url,
  #email {
    display: none;
  }

  .phone {
    display: none;
    margin: 0;
  }

  #phone {
    margin: 0;
    justify-content: center;
  }

  .contact-method {
    margin: 0;
    justify-content: center;
  }
}
