#nav-link-holder {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  color: #f3efeb;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
  background: transparent;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
}

.nav-link:hover {
  background: rgba(16, 16, 16, 0.60);
}
