#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #776D64;
}

footer {
  display: flex;
  height:100px;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

#linked-in {
  background: url('../../images/linkedin-logo.svg');
  background-size: cover;
  height:35px;
  width: 35px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

#linked-in:hover {
  background: url('../../images/linkedin-logo-yellow.svg');
  background-size: cover;
  height:35px;
  width: 35px;
}

#git-hub {
  background: url('../../images/github-logo.svg');
  background-size: cover;
  height:35px;
  width: 35px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

#git-hub:hover {
  background: url('../../images/github-logo-yellow.svg');
  background-size: cover;
  height:35px;
  width: 35px;
}

#gmail {
  background: url('../../images/gmail-logo.svg');
  background-size: cover;
  height:35px;
  width: 35px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

#gmail:hover {
  background: url('../../images/gmail-logo-yellow.svg');
  background-size: cover;
  height:35px;
  width: 35px;
}

#instagram {
  background: url('../../images/instagram-logo.svg');
  background-size: cover;
  height:35px;
  width: 35px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

#instagram:hover {
  background: url('../../images/instagram-logo-yellow.svg');
  background-size: cover;
  height:35px;
  width: 35px;
}

#twitter {
  background: url('../../images/twitter-logo.svg');
  background-size: cover;
  height:35px;
  width: 35px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

#twitter:hover {
  background: url('../../images/twitter-logo-yellow.svg');
  background-size: cover;
  height:35px;
  width: 35px;
}

@media screen and (max-width: 700px) {

  #twitter,
  #instagram {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  footer {
    width: 90%;
  }
}
