@import './Components/App/App.css';
@import './Components/NavBar/NavBar.css';
@import './Components/About/About.css';
@import './Components/Resume/Resume.css';
@import './Components/Footer/Footer.css';
@import './Components/Contact/Contact.css';

html,
body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}
